html{
	height: 100%;
}
body{
	margin: 0px;
	height: 100%;
	/*height: 100%;*/
	/*height: auto;*/
}
#wrapper{
	/*height: auto;*/
	/*height: 100%;*/
	min-height: calc(100% - 125px);
	height: calc(100% - 125px) !important;
	min-width: 700px;
}
#header{
	position: relative;
	height: 125px;
	text-align: center;
	/*border-bottom: 2px solid #FFF;*/
	width: 100%;
	min-width: 1160px;
	background-color: #56F5CE;
	color: white;
	font-size: 125px;
	box-shadow: 5px 5px 20px #666;
	font-family: Diskoteque;
	
}
#tile1{
	vertical-align: middle;
	line-height: 125px;
	height: 125px;
	width: 125px;
	float:left;
	background-color: #E672FF;

}
#tile2{
	vertical-align: middle;
	line-height: 125px;
	height: 125px;
	width: 125px;
	float:left;
	background-color: #9B68E8;
}
#tile3{
	vertical-align: middle;
	line-height: 125px;
	height: 125px;
	width: 125px;
	float:left;
	background-color: #7f81FF;
}
#tile4{
	vertical-align: middle;
	line-height: 125px;
	height: 125px;
	width: 125px;
	float:left;
	background-color: #689EE8;
}
#tile5{
	vertical-align: middle;
	line-height: 125px;
	height: 125px;
	width: 125px;
	float:left;
	border-right: 1px solid #FFF;
	background-color: #67E4FF;
}
#headerTitle{
	text-align: center;
	padding: 22px 0px 15px 15px;
	font-size: 16px;
	line-height: 10px;
	font-family: TOSCA;
}

#headerSubTitle{
	font-size: 35px;
}
#content{
	/*margin-top: -195px; /*this is crazy!!*/
	min-height: calc(100% - 170px);
	height: calc(100% - 170px);
	background-image: url(cloudBG.jpg);
	 display: block;
	  background-position: initial initial;
	 background-repeat: initial initial;
	background-color: #EEE;
	/*padding-top: 10%;*/
	padding: 135px 35px 35px 35px;
	min-width: 1090px;

}
#module{
	margin-top: 395px;
	padding: 5px 0px;
	margin: auto;
	background-color: #9B68E8;
	border-top: solid 5px #56F5CE;
	height: 250px;
	width: 560px;
	box-shadow: 5px 5px 5px #999;
	border-radius: 3px;
}
#moduleHeader{
	font-size: 35px;
	text-align: center;
	padding: 2px;
	color: #FFF;
	font-family: TOSCA;
}
#moduleHeader2{
	font-size: 44px;
	line-height: 60px;
	text-align: center;
	padding: 24px 0px 0px 0px;
	color: #FFF;
	height: 160px;
	border-bottom: 1px solid #FFF;
	font-family: Diskoteque;
}
#moduleFields{

}

textarea{
	width: 50px;
	height: 70px;
	line-height:76px;
	position:relative;
	padding: 0.1rem;
  font-size: 54px;
  border: 2px solid #D9D9D9;
  border-radius: 4px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
    overflow:hidden;
    background-color: #FFF1FF; /*#GGG*/
    font-family: Diskoteque;
}

#month{
	width: 235px;
	margin: 6px;
}
#day{
	width: 100px;
	margin: 6px;
}
#year{
	width: 130px;
	margin: 6px;
}


#moduleDate{
	padding: 12px;
	height: 80px;
	
}
#moduleExpand{ 
	height: 48px;
}
#METB{ 
	font-size: 14px;
	padding: 6px;
	padding-left: 70px;
}
#moduleSubmit{
	padding: 8px ;
}
button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1em;
  color: white;
  margin: 0 0.25rem;
  text-align: center;
  background: #BABABA;
  border-bottom: 1px solid #999;
}
button[type="submit"] {
  background: #689EE8;
  border-bottom: 1px solid #5d7d1f;
}
button[id="reset"] {
  background: #67E4FF;
  border-bottom: 1px solid #5d7d1f;
}
button[id="fbLogin"]{
	background: #4c66a4;
}
button[id="fbLogout"] {
  background: #888;
  border-bottom: 1px solid #5d7d1f;
}
/*below are buttons generated at end...*/
button[id="fbShare"]{
	  background: #689EE8;
  	border-bottom: 1px solid #5d7d1f;
}
button[id="twitterShare"]{
	  background: #67E4FF;
  border-bottom: 1px solid #5d7d1f;
}
button[id="redo"]{
	background: #56F5CE;
	border-bottom: 1px solid #5d7d1f;
}
#submit{

}
#footer{
	/*min-width: 300px;*/
	padding-top: 10px;
	color: #FFF;
	text-align: center;
	position: absolute;
	bottom: 0px;
	height: 30px;
	min-width: 1160px;
	width: 100%;
	background: #7f81FF;
}
#footer a{
	text-decoration: none;
	color: #FFF;
}
#footerText{
	margin: auto;
	width: 600px;
	min-width: 600px;
	font-size: 18px;
}
#footerLeft{
	padding-left: 60px;
	float:left;
}
#signature{
	text-align: right;
	color: #000;
}

@font-face {
	font-family: Art_Brewery;
	src: url('Art Brewery.ttf');
}
@font-face {
	font-family: Respective;
	src: url('Respective_2.ttf');
}
@font-face {
	font-family: TOSCA;
	src: url('TOSCA.ttf');
}
@font-face {
	font-family: Diskoteque;
	src: url('Diskoteque.ttf');
}